BraveSoftware
calibre
dconf
discord
evolution
gammastep
gnome-initial-setup-done
gnome-session
goa*
gtk*
htop
ibus
libreoffice
light
matplotlib
nautilus
picom.conf
pavucontrol.ini
Pinta
pulse
Qt*
update*
vlc
user-dirs*
.gsd*

